adwaita-colors-icon-theme
ags-hyprpanel-git
ark
baobab
base
base-devel
bat
beekeeper-studio-bin
brave-bin
btop
btrfs-progs
bustle
chaotic-keyring
chaotic-mirrorlist
chezmoi
clapper
cliphist
cpio
d-spy
dbeaver
discord
dkms
docker
docker-compose
dosfstools
dunst
dust
efibootmgr
eza
fastfetch
fd
filezilla
fish
flatpak
foot
foot-terminfo
fzf
gamemode
ghostmirror
git
github-cli
gnome-boxes
gnome-calculator
gnome-disk-utility
gnome-font-viewer
gnome-themes-extra
gnome-tweaks
google-chrome
grim
grimblast-git
grub
gst-plugin-pipewire
gst-plugins-good
gtk-engine-murrine
gvfs-nfs
htop
hypridle
hyprland
hyprlock
hyprpicker
hyprsunset
imagemagick
impression
iotas
iwd
jellyfin-media-player
kanagawa-gtk-theme-git
kanagawa-icon-theme-git
kde-gtk-config
kitty
kvantum
kwallet-pam
kwalletmanager
layer-shell-qt
layer-shell-qt5
lazydocker
lazygit
less
libc++
libcamera
libdeep_filter_ladspa-bin
libpulse
libreoffice-fresh
libva-utils
libvips
linssid
linux
linux-firmware
linux-headers
linux-lts
linux-lts-headers
loupe
lsp-plugins
lsp-plugins-gst
luarocks
lzip
mission-center
morewaita-icon-theme
nano
nautilus
nautilus-open-any-terminal
neovim-nightly-bin
network-manager-applet
networkmanager
nfs-utils
nmap
noto-fonts
noto-fonts-cjk
nwg-look
obs-studio
obsidian
os-prober
otf-overpass-nerd
overskride
pam_autologin
pass
pipewire
pipewire-alsa
pipewire-jack
pipewire-pulse
playerctl
plex-desktop
pnpm
polkit-kde-agent
postgresql
postman-bin
powertop
prismlauncher
protontricks-git
pwvucontrol
python-pipx
qbittorrent-enhanced
qt5-quickcontrols2
qt5-wayland
qt5ct
qt6-virtualkeyboard
qt6-wayland
qt6ct
refine
rofi-wayland
rose-pine-cursor
rose-pine-hyprcursor
sddm
seahorse
slurp
smartmontools
sniffnet
spicetify-cli
spotify
sqlc
sqlfluff
starship
steam
sushi
swww
tcpdump
tldr
tmux
ttf-fira-sans
ttf-firacode-nerd
ttf-icomoon-feather
ttf-iosevka-nerd
ttf-ms-win11-auto
ufw
uwsm
vdpauinfo
video-downloader
vim
visual-studio-code-bin
warp
waypaper-git
wget
windscribe-v2-bin
wireless_tools
wireplumber
wireshark-qt
xdg-desktop-portal-gtk
xdg-desktop-portal-hyprland
xdg-utils
xorg-server
xorg-xhost
xorg-xinit
yad
yay
yazi
zen-browser-bin
zenmap
zoxide
zram-generator
